src/main/webapp/misc/descriptor/findlyscorereport_template_v2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Scores">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="NumScores" minOccurs="0" maxOccurs="1" default="0"/>
        <xs:element name="Score" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UserInfo" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="eTicketID" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:int" name="ScoreID" minOccurs="0" maxOccurs="1" default="0"/>
                    <xs:element type="xs:string" name="ExternalID" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="FirstName" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="LastName" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="ID" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="AdditionalData" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="UserData">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Name"/>
                                <xs:element type="xs:string" name="Value"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="TestInfo" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="TestID"/>
                    <xs:element type="xs:string" name="TestName"/>
                    <xs:element type="xs:dateTime" name="Date"/>
                    <xs:element type="xs:int" name="DateAsNumber"/>
                    <xs:element type="xs:string" name="TimeStart"/>
                    <xs:element type="xs:float" name="TimeElapsed" default="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ScoreInfo" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ScoreType">
                      <xs:annotation>
                        <xs:documentation>STANDARD,TYPING,DATA_ENTRY,CALLCENTER, IDENTITY, or TALENTSCOUT</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:int" name="NumMetrics" default="0"/>
                    <xs:element name="Metric" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="MetricName" />
                          <xs:element type="xs:string" name="MetricDesc"/>

                        <xs:element name="MetricValue">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:int" name="NumScales" maxOccurs="1" minOccurs="0"/>
                                <xs:element name="Scale" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="Name"/>
                                      <xs:element type="xs:float" name="Score"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:int" name="NumItems" maxOccurs="1" minOccurs="0"/>
                                <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:int" name="Qnum" maxOccurs="1" minOccurs="0"/>
                                      <xs:element type="xs:float" name="Qtime" maxOccurs="1" minOccurs="0"/>
                                      <xs:element type="xs:string" name="Qnid" maxOccurs="1" minOccurs="0"/>
                                      <xs:element type="xs:string" name="Name" maxOccurs="1" minOccurs="0"/>
                                      <xs:element type="xs:string" name="Final" maxOccurs="1" minOccurs="0"/>
                                      <xs:element type="xs:string" name="Wrong" maxOccurs="1" minOccurs="0"/>
                                      <xs:element type="xs:string" name="Level" maxOccurs="1" minOccurs="0"/>
                                      <xs:element type="xs:string" name="Topic" maxOccurs="1" minOccurs="0"/>
                                      <xs:element type="xs:string" name="Comments" maxOccurs="1" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:float" name="ScoreBeg" maxOccurs="1" minOccurs="0"/>
                                <xs:element type="xs:float" name="ScoreInt" maxOccurs="1" minOccurs="0"/>
                                <xs:element type="xs:float" name="ScoreAdv" maxOccurs="1" minOccurs="0"/>
                                <xs:element type="xs:float" name="Percentile" maxOccurs="1" minOccurs="0"/>
                                <xs:element type="xs:int" name="NumScoresUsed" maxOccurs="1" minOccurs="0"/>
                                <xs:element type="xs:float" name="AvgScore" maxOccurs="1" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>



                          <!-- <xs:element type="xs:string" name="MetricValue"/> -->
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>